html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(211, 211, 211);
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
footer {
  background-color: #d8d8d8;
  color: white;
  margin-top: 5em;
  .legal {
    display: flex;
    gap: 1em;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  a {
    color: var(--sliexnis-red);
  }
}
.landing-picture {
  margin-top: 10rem;
  width: 10px;
}
:root {
  --sliexnis-red: #cd192a;
  --sliexnis-gray: #dfdfdf;
  --task: orange;
  --online-lesson: rgb(31, 156, 0);
  --test: rgb(255, 0, 0);
}
* {
  box-sizing: border-box;
}
header {
  background-color: var(--sliexnis-red);
  color: #ffffff;
}
nav {
  color: white;
  a {
    color: white;
  }
}
textarea {
  background: #ffffff;
  border: 1px solid #464646;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  appearance: none;
  border: none;
  background-color: var(--sliexnis-red);
  color: rgb(0, 0, 0);
  padding: 0.4em;
  background: #ffffff;
  border: 1px solid #464646;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.15);
  &:hover {
    background: var(--sliexnis-gray);
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
//reactjs-popup
.popup-content {
  margin: auto;
  background: rgb(168, 168, 168);
  width: 50%;
  padding: 5px;
  border: 1px solid #d7d7d7;
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
.popup-arrow {
  -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.landing-tabs {
  background-color: rgb(119, 119, 119);
}
.landing-tab-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  h2 {
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgb(68, 68, 68);
    }
  }
}
.team {
  display: flex;
  justify-content: space-evenly;
}
