.task {
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 40%;
  color: black;
  padding-left: 0.2em;
  padding-top: 0.3em;
  padding-right: 0.2em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  border: 3px solid;
  border-bottom: 9px solid;
  font-size: larger;
  .taskheader {
    display: flex;
    justify-content: space-between;
  }
  .taskbody {
    display: flex;
    flex-direction: row;
    p {
      font-size: 1rem;
    }
    .tasktime {
      text-align: right;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
    }
  }
  .subject {
    padding-right: 10%;
    background: linear-gradient(
      90deg,
      rgb(84, 127, 244) 0%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  .taskType {
    margin: 0;
  }
  .donebtn {
    background-color: rgb(162, 162, 202);
    border: solid 1px black;
    padding: 0.4em;
    width: 90%;
    border-radius: 9px;
    cursor: pointer;
    &:hover {
      background-color: rgb(91, 91, 114);
    }
  }
}
.prioritydot {
  min-width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  margin-right: 5px;
  border-radius: 100%;
}
