.overview {
  .tasks-container {
    display: flex;
    .tasks-column {
      flex: 1;
    }
    .filter-button {
      height: 10px;
    }
    .filters {
      background-color: rgb(99, 99, 99);
    }
  }
}
